.jumbotron {
    margin-top: 0;
}

.display-3 {
    font-size: 40px;
    font-weight: bold;
}

/* // img {
//     width: 25%;
// }

// .card-title {
//     width: 25%;
// }

// .gas-img {
//     float: left;
//     width: 25%;
// } */
.card-img-top {
    margin-bottom: 0px;
    height: 205px;
    width:auto;

}