body {
    background-color: #D7DADB;

}

.jumbotron {
    background-image: url("../img/Jumboimg.png");
    background-size:cover;
    background-repeat: no-repeat;
    margin-top: 1em;
    padding-top: 10em;
    padding-bottom: 10em;
  

    
}

.display-2 {
    padding-top: 1em;
    font-size: 70px;
    font-weight: bold;
    color: white;
    font-stretch: expanded;
}

.answer {
    color:#eD0e9f;
    font-size: 50px; 
}

.card-img-top {
    margin-bottom: 0px;
    height: 205px;
    width:auto;
}

.card-text{
    padding: 10px;
    text-align: center;
}
