body {
    background-color: #D7DADB;
}

.jumbotron {
    margin: 0, 0, 20px, 0;
    background-image: url("../img/Jumboimg.png");
    background-size: cover 50%;
    border-image-repeat: no-repeat;
    height: 100%;
}

.display-3 {
    font-size: 40px;
    font-weight: bold;
}

.card-img-top {
    margin-bottom: 0px;
    height: 205px;
    width:auto;
}

.card-text{
    padding: 10px;
    text-align: center;
}
